<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--测试部环境-->
    <!--<add key="DefaultURL" value="http://172.17.0.130:10000/basic-frame/#/login?fromCustormBrowser=1"/>-->
    <!--开发部环境-->
     <add key="DefaultURL" value="http://172.16.0.108:10000/basic-frame/#/login?fromCustormBrowser=1"/> 
    <!--张家港现场测试环境-->
    <!--<add key="DefaultURL" value="http://172.25.110.158:10000/basic-frame/#/login?fromCustormBrowser=1"/>-->
    <!--程序内部环境-->
    <!--<add key="DefaultURL" value="http://www.qq.com"/>-->
    <!--张家港现场映射后准正式环境-->
    <!--<add key="DefaultURL" value="http://his.zjgws.com/basic-frame/#/login?fromCustormBrowser=1"/>-->
  </appSettings>
</configuration>